[Unit]
Description=One Time Setup Check
After=post-install.service

[Service]
ExecStart=/usr/bin/configure_edison --checkOneTimeSetup
Restart=on-failure

[Install]
WantedBy=default.target

